<h1>Company Database</h1>
<h2>Current Employees:</h2>
<p>{{this.text}}</p>
<table id="emp-table">
	<thead>
    <tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Salary</th>
		<th>Dno</th>
    </tr>
	</thead>
    <tbody>
        {{#each data}}
            <tr>
                <td>{{this.Fname}}</td>
                <td>{{this.Lname}}</td>
				<td>{{this.Salary}}</td>
				<td>{{this.Dno}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

<div>
    Filter Employees by Project: {{> ProjectDropdown project=projects}} 
    <button type="button" id="filter-button">Filter</button>
    <button type="button" id="clear-filter-button">Clear Filters</button> 
</div>
<div>
    <p>Search all employees for first names starting with: </p>
    <form id="search-bar">
        <input type="search" id="query" name="fname" placeholder="Search">
        <button type="button" id="search-button">Search</button>
    </form>
</div>